In [161]:
import calendar
import os
import pandas as pd

# from exel_loader import df_operations, df_rigs, df_circ_data
# from db_loader import df_osi_operations, df_meters


# temp read from temp files

DATA_DIR = r'K:/DOP/OED/METHOD&TOOLS/3 - PROJECTS/2 - ON GOING/PYTHON/Scripts/OEE/python/data'

def read_csv(filename):
    path = os.path.join(DATA_DIR, filename)
    return pd.read_csv(path)

df_circ_data = read_csv('df_circ_data.csv')
df_meters = read_csv('df_meters.csv')
df_operations = read_csv('df_operations.csv')
df_osi_operations = read_csv('df_osi_operations.csv')
df_rigs = read_csv('df_rigs.csv')




# Функция для преобразования имён колонок:
def clean_column_names(columns):
    return [col.replace('_', ' ').title() for col in columns]

# Очищаем и переименовываем колонки сразу после чтения
df_circ_data.columns = clean_column_names(df_circ_data.columns)
df_meters.columns = clean_column_names(df_meters.columns)
df_operations.columns = clean_column_names(df_operations.columns)
df_osi_operations.columns = clean_column_names(df_osi_operations.columns)
df_rigs.columns = clean_column_names(df_rigs.columns)

In [162]:
# data modif 

def add_difference_column(df, col1, col2):
    """
    Возвращает Series: разница между двумя колонками с заменой NaN на 0.
    """
    return (df[col1].fillna(0) - df[col2].fillna(0)).clip(lower=0)


def add_ratio_column(df, numerator_col, denominator_col):
    """
    Возвращает Series: отношение numerator_col / denominator_col
    с защитой от деления на 0, заменой NaN на 0 и ограничением [0, 1].
    """
    num = df[numerator_col].fillna(0)
    denom = df[denominator_col].replace(0, pd.NA).fillna(pd.NA)
    ratio = num / denom
    return ratio.fillna(0).clip(0, 1)



# Работа с df_operations
df_operations = df_operations[['Event', 'Category']]
df_operations = df_operations[df_operations['Category'].notna()].reset_index(drop=True)


# Преобразуем Starttime и Endtime в datetime
df_osi_operations['Starttime'] = pd.to_datetime(df_osi_operations['Starttime'], errors='coerce')
df_osi_operations['Endtime'] = pd.to_datetime(df_osi_operations['Endtime'], errors='coerce')

# Добавляем колонку Duration в df_osi_operations
df_osi_operations['Duration'] = df_osi_operations['Endtime'] - df_osi_operations['Starttime']
df_osi_operations['Duration'] = df_osi_operations['Duration'].dt.total_seconds() / 3600

# Очищаем и фильтруем df_rigs
df_rigs = df_rigs[df_rigs['Rig-Acquire'].notna()].reset_index(drop=True)

# Приведение к одному формату для слияния
df_osi_operations['Equipment'] = df_osi_operations['Equipment'].str.strip().str.lower()
df_rigs['Rig-Osidem'] = df_rigs['Rig-Osidem'].str.strip().str.lower()

In [163]:
df_osi_operations.describe(include='all')

,Equipment,Event,Starttime,Endtime,Duration
count,559849,559849,559849,559841,559841.000000
unique,86,116,NaN,NaN,NaN
top,h757214 ural 4320 urb 3a3 №4,WT_PPR,NaN,NaN,NaN
freq,16866,146527,NaN,NaN,NaN
mean,NaN,NaN,2023-03-27 18:44:32.852858624,2023-03-27 22:32:25.343053056,3.838794
min,NaN,NaN,2020-02-15 08:00:00,2020-02-15 09:00:00,0.500000
25%,NaN,NaN,2022-02-11 05:00:00,2022-02-11 08:00:00,1.000000
50%,NaN,NaN,2023-05-13 20:00:00,2023-05-13 21:00:00,2.000000
75%,NaN,NaN,2024-06-11 03:00:00,2024-06-11 09:00:00,4.000000
max,NaN,NaN,2025-06-12 07:30:00,2025-06-12 09:00:00,6960.000000
std,NaN,NaN,NaN,NaN,22.608010

In [164]:
# Слияние
df_merged = df_osi_operations.merge(
    df_rigs,
    left_on='Equipment',
    right_on='Rig-Osidem',
    how='left'
)

df_temp = df_merged.drop(columns=['Equipment', 'Rig-Osidem'])

# Очистка колонок event
df_temp['Event'] = df_temp['Event'].str.strip().str.lower()
df_operations['Event'] = df_operations['Event'].str.strip().str.lower()

# Слияние с категориями
df_operations_total = df_temp.merge(df_operations, on='Event', how='left')
df_operations_total['Category'] = df_operations_total['Category'].fillna('Standard Work')

# Приведение endtime к datetime и фильтрация
df_operations_total['Endtime'] = pd.to_datetime(df_operations_total['Endtime'])
df_operations_total = df_operations_total.dropna(subset=['Endtime'])

In [165]:
df_operations_total

,Event,Starttime,Endtime,Duration,Drillcompany,Rig-Acquire,Tipe Of Circulation,Category
0,rp_repair,2021-08-20 12:00:00,2021-09-02 17:00:00,317.0,KATCO,DBKAZ40-1,RC,Unplanned_downtime_losses
1,cv_long_stop,2020-04-27 08:00:00,2020-08-15 08:00:00,2640.0,KATCO,DBKAZ40-1,RC,Standard Work
2,wt_ppr,2020-02-18 08:00:00,2020-02-18 09:00:00,1.0,KATCO,DBKAZ40-1,RC,Planned_downtime
3,wt_lunch,2020-02-18 12:00:00,2020-02-18 13:00:00,1.0,KATCO,DBKAZ40-1,RC,Planned_downtime
4,wt_ppr,2020-02-18 20:00:00,2020-02-18 21:00:00,1.0,KATCO,DBKAZ40-1,RC,Planned_downtime
...,...,...,...,...,...,...,...,...
559844,dr_core_drilling,2024-09-29 21:00:00,2024-09-29 23:30:00,2.5,NaN,NaN,NaN,Standard Work
559845,dr_reaming,2024-09-30 11:30:00,2024-09-30 13:30:00,2.0,NaN,NaN,NaN,Standard Work
559846,dr_pump_replacement,2024-09-30 14:00:00,2024-09-30 15:30:00,1.5,NaN,NaN,NaN,Standard Work
559847,dr_well_flushing,2024-10-01 12:30:00,2024-10-01 15:00:00,2.5,NaN,NaN,NaN,Standard Work
559848,dr_pump_replacement,2024-10-01 17:00:00,2024-10-01 21:00:00,4.0,NaN,NaN,NaN,Standard Work

In [167]:
df = df_operations_total.copy()

adjusted_rows = []

# Группировка только по уникальному агрегату
for rig_id, group in df.groupby('Rig-Acquire'):
    group = group.sort_values('Starttime').reset_index(drop=True)

    for i in range(len(group)):
        row = group.loc[i].copy()
        if i > 0:
            prev_end = group.loc[i - 1, 'Endtime']
            if row['Starttime'] < prev_end:
                # Укорачиваем предыдущую запись
                group.loc[i - 1, 'Endtime'] = row['Starttime']
                group.loc[i - 1, 'Duration'] = (row['Starttime'] - group.loc[i - 1, 'Starttime']).total_seconds() / 3600.0

        # Перерасчёт duration текущей строки
        row['Duration'] = (row['Endtime'] - row['Starttime']).total_seconds() / 3600.0
        adjusted_rows.append(row)

# Собираем обратно
df_no_overlap = pd.DataFrame(adjusted_rows)

# Удалим нулевые или отрицательные длительности
df_no_overlap = df_no_overlap[df_no_overlap['Duration'] > 0].reset_index(drop=True)

In [169]:
df_no_overlap

,Event,Starttime,Endtime,Duration,Drillcompany,Rig-Acquire,Tipe Of Circulation,Category
0,rp_repair,2020-02-15 08:00:00,2020-02-18 08:00:00,72.0,KATCO,DBKAZ40-1,RC,Unplanned_downtime_losses
1,wt_ppr,2020-02-18 08:00:00,2020-02-18 09:00:00,1.0,KATCO,DBKAZ40-1,RC,Planned_downtime
2,cp_gravel_sedimentation,2020-02-18 09:00:00,2020-02-18 12:00:00,3.0,KATCO,DBKAZ40-1,RC,Standard Work
3,wt_lunch,2020-02-18 12:00:00,2020-02-18 13:00:00,1.0,KATCO,DBKAZ40-1,RC,Planned_downtime
4,cp_gravel_sedimentation,2020-02-18 13:00:00,2020-02-18 20:00:00,7.0,KATCO,DBKAZ40-1,RC,Standard Work
...,...,...,...,...,...,...,...,...
507895,cp_cement_solidification,2025-06-11 22:00:00,2025-06-12 01:00:00,3.0,KATCO,ZMO1500-6-KAT,Direct,Standard Work
507896,wt_lunch,2025-06-12 01:00:00,2025-06-12 02:00:00,1.0,KATCO,ZMO1500-6-KAT,Direct,Planned_downtime
507897,cp_cement_solidification,2025-06-12 02:00:00,2025-06-12 05:00:00,3.0,KATCO,ZMO1500-6-KAT,Direct,Standard Work
507898,lg_phase_4_1,2025-06-12 05:00:00,2025-06-12 06:00:00,1.0,KATCO,ZMO1500-6-KAT,Direct,Planned_downtime
507899,wt_waiting_for_logging_result_4_1,2025-06-12 06:00:00,2025-06-12 09:00:00,3.0,KATCO,ZMO1500-6-KAT,Direct,Unplanned_downtime_losses

In [ ]:
# Добавляем year и month
df_operations_total['Year-Month'] = df_operations_total['Endtime'].dt.strftime('%Y-%m')

# Сводная таблица pivot
pivot_df = df_operations_total.pivot_table(
    index=['Drillcompany', 'Rig-Acquire', 'Year-Month', 'Tipe Of Circulation'],
    columns='Category',
    values='Duration',
    aggfunc='sum',
    fill_value=0
).reset_index()

In [ ]:
pivot_df

Category,Drillcompany,Rig-Acquire,Year-Month,Tipe Of Circulation,Planned_downtime,Standard Work,Unplanned_downtime_losses
0,BurGeoProekt,ZIF1200_01-BGP,2020-02,Direct,0.0,0.0,276.0
1,BurGeoProekt,ZIF1200_01-BGP,2020-03,Direct,47.0,420.0,278.0
2,BurGeoProekt,ZIF1200_01-BGP,2020-04,Direct,17.0,182.0,28.0
3,BurGeoProekt,ZIF1200_01-BGP,2021-01,Direct,9.0,7015.0,93.0
4,BurGeoProekt,ZIF1200_01-BGP,2021-02,Direct,84.0,397.0,191.0
...,...,...,...,...,...,...,...
2812,TechnoService-Eng,ZIF1200_16-TSE,2023-03,Direct,89.0,509.0,90.0
2813,TechnoService-Eng,ZIF1200_16-TSE,2023-04,Direct,76.0,468.0,106.0
2814,TechnoService-Eng,ZIF1200_16-TSE,2023-05,Direct,76.0,486.0,119.0
2815,TechnoService-Eng,ZIF1200_16-TSE,2023-06,Direct,77.0,405.0,133.0
2816,TechnoService-Eng,ZIF1200_16-TSE,2023-07,Direct,85.0,362.0,167.0

In [ ]:
pivot_df = pivot_df.sort_values(
    by=['Drillcompany', 'Rig-Acquire', 'Year-Month'],
    ascending=[True, True, True]
).reset_index(drop=True)

# Функция для подсчёта часов в месяце
def hours_in_month(row):
    year_month_str = row['Year-Month']  # предполагается, что у вас есть колонка с таким именем
    year, month = map(int, year_month_str.split('-'))
    days = calendar.monthrange(year, month)[1]
    return days * 24

In [ ]:
pivot_df['H In Month'] = pivot_df.apply(hours_in_month, axis=1)

In [ ]:
# Преобразование ENDDATE в datetime
df_meters['Enddate'] = pd.to_datetime(df_meters['Enddate'], errors='coerce')
df_meters.dropna(subset=['Enddate'], inplace=True)
df_meters['Year-Month'] = df_meters['Enddate'].dt.strftime('%Y-%m')

In [ ]:
pivot2 = pd.pivot_table(
    df_meters,
    index=['Year-Month', 'Drillrig'],
    columns='Holestatus',
    values='Holeid',
    aggfunc='count',
    fill_value=0
)

In [ ]:
pivot2

Holestatus                 ACCEPTED  LIQUID  NOT PROFITABLE
Year-Month Drillrig
2020-01    DBKAZ40_1-KAT          7       0               0
           PRAKLA_04-BGP          2       2               0
           TWS685-1-KAT           3       0               0
           TWS685-2-KAT           1       0               0
           TWS685-3-KAT           2       0               0
...                             ...     ...             ...
2025-06    ZIF1200_29-BGP         3       0               0
           ZIF1200_31-BGP         1       0               0
           ZMO1500-4-KAT          1       0               0
           ZMO1500-5-KAT          1       0               0
           ZMO1500-6-KAT          1       0               0

[2559 rows x 3 columns]

In [ ]:
pivot_df

Category,Drillcompany,Rig-Acquire,Year-Month,Tipe Of Circulation,Planned_downtime,Standard Work,Unplanned_downtime_losses,H In Month
0,BurGeoProekt,ZIF1200_01-BGP,2020-02,Direct,0.0,0.0,276.0,696
1,BurGeoProekt,ZIF1200_01-BGP,2020-03,Direct,47.0,420.0,278.0,744
2,BurGeoProekt,ZIF1200_01-BGP,2020-04,Direct,17.0,182.0,28.0,720
3,BurGeoProekt,ZIF1200_01-BGP,2021-01,Direct,9.0,7015.0,93.0,744
4,BurGeoProekt,ZIF1200_01-BGP,2021-02,Direct,84.0,397.0,191.0,672
...,...,...,...,...,...,...,...,...
2812,TechnoService-Eng,ZIF1200_16-TSE,2023-03,Direct,89.0,509.0,90.0,744
2813,TechnoService-Eng,ZIF1200_16-TSE,2023-04,Direct,76.0,468.0,106.0,720
2814,TechnoService-Eng,ZIF1200_16-TSE,2023-05,Direct,76.0,486.0,119.0,744
2815,TechnoService-Eng,ZIF1200_16-TSE,2023-06,Direct,77.0,405.0,133.0,720
2816,TechnoService-Eng,ZIF1200_16-TSE,2023-07,Direct,85.0,362.0,167.0,744

In [ ]:
depth_sum = df_meters.groupby(['Year-Month', 'Drillrig'])['Depth'].sum()
pivot2['Depth'] = depth_sum
meters_pivot = pivot2.reset_index()

# Приведение к верхнему регистру и очистка пробелов
pivot_df['Rig-Acquire'] = pivot_df['Rig-Acquire'].str.strip().str.upper()
meters_pivot['Drillrig'] = meters_pivot['Drillrig'].str.strip().str.upper()

total_merged_df = pd.merge(
    pivot_df,
    meters_pivot,
    left_on=['Rig-Acquire', 'Year-Month'],
    right_on=['Drillrig', 'Year-Month'],
    how='left'
)

In [ ]:
total_merged_df.drop(columns='Rig-Acquire', inplace=True)

In [ ]:
# Расчёты Planned Production Time и Planned Factor с ограничениями
total_merged_df['Planned Production Time'] = add_difference_column(total_merged_df, 'H In Month', 'Planned_downtime')

In [ ]:
total_merged_df['Planned Factor'] = add_ratio_column(
    total_merged_df, 'Planned Production Time', 'H In Month'
)

# Gross Operating Time (GOT) и Availability
total_merged_df['Gross Operating Time'] = add_difference_column(
    total_merged_df, 'Planned Production Time', 'Unplanned_downtime_losses'
)

In [ ]:
total_merged_df['Availability'] = add_ratio_column(
    total_merged_df, 'Gross Operating Time', 'Planned Production Time'
)

# Назначаем коэффициенты по типу циркуляции
circ_avg_drilling = df_circ_data.set_index('Circ')['Standard Avarage Drilling, M/H'].to_dict()
time_to_well_drill = df_circ_data.set_index('Circ')['Time To Well Drill, H'].to_dict()

# Записываем два столбца в df
total_merged_df['Circulation Coeff'] = total_merged_df['Tipe Of Circulation'].map(circ_avg_drilling)
total_merged_df['Well Drill Coef'] = total_merged_df['Tipe Of Circulation'].map(time_to_well_drill)


# Потенциальная глубина бурения
total_merged_df['Potential Depth'] = (
    total_merged_df['Gross Operating Time'] * total_merged_df['Circulation Coeff']
)

In [ ]:
total_merged_df['Net Operating Time'] = total_merged_df['Depth'].div(
    total_merged_df['Circulation Coeff']
).fillna(0)

In [ ]:
total_merged_df['Speed Losses'] = add_difference_column(
    total_merged_df, 'Gross Operating Time', 'Net Operating Time'
)

In [ ]:
total_merged_df

,Drillcompany,Year-Month,Tipe Of Circulation,Planned_downtime,Standard Work,Unplanned_downtime_losses,H In Month,Drillrig,ACCEPTED,LIQUID,...,Depth,Planned Production Time,Planned Factor,Gross Operating Time,Availability,Circulation Coeff,Well Drill Coef,Potential Depth,Net Operating Time,Speed Losses
0,BurGeoProekt,2020-02,Direct,0.0,0.0,276.0,696,ZIF1200_01-BGP,0.0,1.0,...,80.0,696.0,1.000000,420.0,0.603448,2.7,210,1134.0,29.629630,390.370370
1,BurGeoProekt,2020-03,Direct,47.0,420.0,278.0,744,ZIF1200_01-BGP,2.0,0.0,...,698.0,697.0,0.936828,419.0,0.601148,2.7,210,1131.3,258.518519,160.481481
2,BurGeoProekt,2020-04,Direct,17.0,182.0,28.0,720,ZIF1200_01-BGP,2.0,0.0,...,697.0,703.0,0.976389,675.0,0.960171,2.7,210,1822.5,258.148148,416.851852
3,BurGeoProekt,2021-01,Direct,9.0,7015.0,93.0,744,NaN,NaN,NaN,...,NaN,735.0,0.987903,642.0,0.873469,2.7,210,1733.4,0.000000,642.000000
4,BurGeoProekt,2021-02,Direct,84.0,397.0,191.0,672,ZIF1200_01-BGP,2.0,0.0,...,998.0,588.0,0.875000,397.0,0.675170,2.7,210,1071.9,369.629630,27.370370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2812,TechnoService-Eng,2023-03,Direct,89.0,509.0,90.0,744,ZIF1200_16-TSE,2.0,0.0,...,587.0,655.0,0.880376,565.0,0.862595,2.7,210,1525.5,217.407407,347.592593
2813,TechnoService-Eng,2023-04,Direct,76.0,468.0,106.0,720,ZIF1200_16-TSE,4.0,0.0,...,1132.0,644.0,0.894444,538.0,0.835404,2.7,210,1452.6,419.259259,118.740741
2814,TechnoService-Eng,2023-05,Direct,76.0,486.0,119.0,744,ZIF1200_16-TSE,2.0,0.0,...,565.0,668.0,0.897849,549.0,0.821856,2.7,210,1482.3,209.259259,339.740741
2815,TechnoService-Eng,2023-06,Direct,77.0,405.0,133.0,720,ZIF1200_16-TSE,3.0,0.0,...,1043.0,643.0,0.893056,510.0,0.793157,2.7,210,1377.0,386.296296,123.703704
2816,TechnoService-Eng,2023-07,Direct,85.0,362.0,167.0,744,ZIF1200_16-TSE,2.0,1.0,...,1132.0,659.0,0.885753,492.0,0.746586,2.7,210,1328.4,419.259259,72.740741

In [ ]:
total_merged_df['Performance'] = add_ratio_column(total_merged_df, 'Net Operating Time', 'Gross Operating Time')

total_merged_df['Quality Losses'] =  total_merged_df.get('Well Drill Coef', 0) * total_merged_df.get('LIQUID', 0)

# Valuable Operating Time
total_merged_df['Valuable Operating Time'] = add_difference_column(
    total_merged_df, 'Net Operating Time', 'Quality Losses'
    )

C:\Users\ykarabekov\AppData\Local\Temp\ipykernel_20052\1726980654.py:18: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return ratio.fillna(0).clip(0, 1)

In [ ]:
total_merged_df['Quality Losses'].describe()

count    2442.000000
mean       39.320639
std        90.854426
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max       630.000000
Name: Quality Losses, dtype: float64

In [ ]:
total_merged_df['Quality'] = add_ratio_column(
    total_merged_df, 'Valuable Operating Time', 'Net Operating Time'
    )

C:\Users\ykarabekov\AppData\Local\Temp\ipykernel_20052\1726980654.py:18: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return ratio.fillna(0).clip(0, 1)

In [ ]:
total_merged_df.columns

Index(['Drillcompany', 'Year-Month', 'Tipe Of Circulation', 'Planned_downtime',
       'Standard Work', 'Unplanned_downtime_losses', 'H In Month', 'Drillrig',
       'ACCEPTED', 'LIQUID', 'NOT PROFITABLE', 'Depth',
       'Planned Production Time', 'Planned Factor', 'Gross Operating Time',
       'Availability', 'Circulation Coeff', 'Well Drill Coef',
       'Potential Depth', 'Net Operating Time', 'Speed Losses', 'Performance',
       'Quality Losses', 'Valuable Operating Time', 'Quality'],
      dtype='object')

In [ ]:
total_merged_df['OEE'] = (
    total_merged_df['Availability'] *
    total_merged_df['Performance'] *
    total_merged_df['Quality']
)


total_merged_df['TRS'] = total_merged_df['OEE'] * total_merged_df['Planned Factor']

In [ ]:
total_merged_df.columns = clean_column_names(total_merged_df.columns)

In [ ]:
total_merged_df = total_merged_df.rename(columns={'Drillrig': 'Rig'})

In [ ]:
df_losses = pd.melt(
    total_merged_df,
    id_vars=[
        'Drillcompany',
        'Rig',
        'Year-Month',
        'Tipe Of Circulation'
    ],
    value_vars=[
        'Planned Downtime',
        'Unplanned Downtime Losses',
        'Speed Losses',
        'Quality Losses'
    ],
    var_name='Loss Type',
    value_name='Loss Value'
)

In [ ]:
df_productivity = pd.melt(
    total_merged_df,
    id_vars=[
        'Drillcompany',
        'Rig',
        'Year-Month',
        'Tipe Of Circulation'
    ],
    value_vars=[
        'Planned Factor',
        'Availability',
        'Performance',
        'Quality',
        'Oee',
        'Trs'
    ],
    var_name='Productivity Type',
    value_name='Productivity Value'
)

In [ ]:
df_operations_total['Category'] = df_operations_total['Category'].replace({
    'Planned_downtime': 'Planned Downtime',
    'Unplanned_downtime_losses': 'Unplanned Downtime Losses'
})

In [ ]:
df_operations_total = df_operations_total.rename(columns={'Rig-Acquire': 'Rig'})

In [ ]:
df_operations_total['Event Category'] = df_operations_total['Event'].str.split('_').str[0].str.upper()
df_operations_total['Event'] = df_operations_total['Event'].str.split('_', n=1).str[1].str.capitalize()

In [ ]:
df_events_duration = df_operations_total[
    [
        'Year-Month',
        "Category",
        'Drillcompany',
        'Rig',
        'Tipe Of Circulation',
        "Event Category",
        "Event",
        "Duration"
    ]
].sort_values(
    by=['Year-Month', 'Rig', 'Category', 'Duration'],
    ascending=[True, True, True, False],
)

In [ ]:
df_meters.dropna(subset=['Drillcompany', 'Drillrig'], inplace=True)

In [ ]:
df_meters.columns = [
    'Hole ID',
    'Drilling Company',
    'Rig',
    'Purpose',
    'Status',
    'End_Date',
    'Depth_m',
    'Year-Month'
]

df_meters = df_meters.drop(columns=['End_Date'])

In [ ]:
print(df_meters)
print(df_events_duration)
print(df_productivity)
print(df_losses)

             Hole ID   Drilling Company             Rig  Purpose    Status  \
0     MSK03_04_05_A_       BurGeoProekt   PRAKLA_04-BGP  PRODUCT    LIQUID
1     MSK03_04_09_A_       BurGeoProekt   PRAKLA_04-BGP  PRODUCT    LIQUID
2     MSK39_08_09_A4       BurGeoProekt   PRAKLA_01-BGP  PRODUCT  ACCEPTED
3     MSK03_06_02_A_       BurGeoProekt   PRAKLA_03-BGP  PRODUCT    LIQUID
4     MSK03_08_07_A_       BurGeoProekt   PRAKLA_03-BGP  PRODUCT  ACCEPTED
...              ...                ...             ...      ...       ...
7119  TNU39_11_02_A_  TechnoService-Eng  ZIF1200_14-TSE   INJECT  ACCEPTED
7120  TNU41_06_03_C_  TechnoService-Eng  ZIF1200_04-TSE  PRODUCT  ACCEPTED
7121  TNU39_10_06_A7  TechnoService-Eng  ZIF1200_08-TSE  PRODUCT  ACCEPTED
7122  TNU39_12_05_B_  TechnoService-Eng  ZIF1200_02-TSE  PRODUCT  ACCEPTED
7123  TNU41_04_02_A_  TechnoService-Eng  ZIF1200_03-TSE  PRODUCT  ACCEPTED

      Depth_m Year-Month
0       503.0    2020-09
1       506.0    2020-09
2       508.0    2020-04
3       475.0    2020-04
4       507.0    2020-09
...       ...        ...
7119    282.0    2025-06
7120    285.0    2025-06
7121    295.0    2025-06
7122    285.0    2025-06
7123    290.0    2025-06

[7124 rows x 7 columns]
      Year-Month                   Category Drillcompany        Rig  \
2        2020-02           Planned Downtime        KATCO  DBKAZ40-1
3        2020-02           Planned Downtime        KATCO  DBKAZ40-1
4        2020-02           Planned Downtime        KATCO  DBKAZ40-1
8        2020-02           Planned Downtime        KATCO  DBKAZ40-1
11       2020-02           Planned Downtime        KATCO  DBKAZ40-1
...          ...                        ...          ...        ...
42004    2025-06  Unplanned Downtime Losses          NaN        NaN
48209    2025-06  Unplanned Downtime Losses          NaN        NaN
48220    2025-06  Unplanned Downtime Losses          NaN        NaN
48230    2025-06  Unplanned Downtime Losses          NaN        NaN
77413    2025-06  Unplanned Downtime Losses          NaN        NaN

      Tipe Of Circulation Event Category                Event  Duration
2                      RC             WT                  Ppr       1.0
3                      RC             WT                Lunch       1.0
4                      RC             WT                  Ppr       1.0
8                      RC             WT                Lunch       1.0
11                     RC             WT                  Ppr       1.0
...                   ...            ...                  ...       ...
42004                 NaN             SB  Expected_watertruck       0.5
48209                 NaN             SB  Expected_watertruck       0.5
48220                 NaN             RP           Broken_rig       0.5
48230                 NaN             SB  Expected_watertruck       0.5
77413                 NaN             SB     Waiting_for_work       0.5

[559841 rows x 8 columns]
            Drillcompany             Rig Year-Month Tipe Of Circulation  \
0           BurGeoProekt  ZIF1200_01-BGP    2020-02              Direct
1           BurGeoProekt  ZIF1200_01-BGP    2020-03              Direct
2           BurGeoProekt  ZIF1200_01-BGP    2020-04              Direct
3           BurGeoProekt             NaN    2021-01              Direct
4           BurGeoProekt  ZIF1200_01-BGP    2021-02              Direct
...                  ...             ...        ...                 ...
16897  TechnoService-Eng  ZIF1200_16-TSE    2023-03              Direct
16898  TechnoService-Eng  ZIF1200_16-TSE    2023-04              Direct
16899  TechnoService-Eng  ZIF1200_16-TSE    2023-05              Direct
16900  TechnoService-Eng  ZIF1200_16-TSE    2023-06              Direct
16901  TechnoService-Eng  ZIF1200_16-TSE    2023-07              Direct

      Productivity Type  Productivity Value
0        Planned Factor            1.000000
1        Planned Factor            0.936828
2        Planned Factor            0.976389
3        Planned Factor            0.987903
4        Planned Factor            0.875000
...                 ...                 ...
16897               Trs            0.292214
16898               Trs            0.582305
16899               Trs            0.281262
16900               Trs            0.536523
16901               Trs            0.281262

[16902 rows x 6 columns]
            Drillcompany             Rig Year-Month Tipe Of Circulation  \
0           BurGeoProekt  ZIF1200_01-BGP    2020-02              Direct
1           BurGeoProekt  ZIF1200_01-BGP    2020-03              Direct
2           BurGeoProekt  ZIF1200_01-BGP    2020-04              Direct
3           BurGeoProekt             NaN    2021-01              Direct
4           BurGeoProekt  ZIF1200_01-BGP    2021-02              Direct
...                  ...             ...        ...                 ...
11263  TechnoService-Eng  ZIF1200_16-TSE    2023-03              Direct
11264  TechnoService-Eng  ZIF1200_16-TSE    2023-04              Direct
11265  TechnoService-Eng  ZIF1200_16-TSE    2023-05              Direct
11266  TechnoService-Eng  ZIF1200_16-TSE    2023-06              Direct
11267  TechnoService-Eng  ZIF1200_16-TSE    2023-07              Direct

              Loss Type  Loss Value
0      Planned Downtime         0.0
1      Planned Downtime        47.0
2      Planned Downtime        17.0
3      Planned Downtime         9.0
4      Planned Downtime        84.0
...                 ...         ...
11263    Quality Losses         0.0
11264    Quality Losses         0.0
11265    Quality Losses         0.0
11266    Quality Losses         0.0
11267    Quality Losses       210.0

[11268 rows x 6 columns]

In [ ]:
unique_dates_series = pd.Series(
    sorted(df_productivity['Year-Month'].dropna().unique()),
    name='Year-Month'
)

unique_dates_series

0     2020-02
1     2020-03
2     2020-04
3     2020-08
4     2020-09
       ...
57    2025-02
58    2025-03
59    2025-04
60    2025-05
61    2025-06
Name: Year-Month, Length: 62, dtype: object

In [ ]:
df_productivity['Productivity Type'].value_counts()

df_losses['Loss Type']

0        Planned Downtime
1        Planned Downtime
2        Planned Downtime
3        Planned Downtime
4        Planned Downtime
               ...
11263      Quality Losses
11264      Quality Losses
11265      Quality Losses
11266      Quality Losses
11267      Quality Losses
Name: Loss Type, Length: 11268, dtype: object